.search_bar {
  .form {
    display: flex;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    .search_icon {
      background-color: #f8da95;
      align-items: center;
      cursor: pointer;
      width: 60px;
      padding: 6px 4px;
      border-radius: 0px 10px 10px 0px;
      display: inline-flex;
      justify-content: center;
      &:hover {
        background-color: rgb(78, 204, 175);
      }
    }
    .input_base {
      padding: 6px 4px;
    }
  }
}
