.webcam-video {
  height: auto;
  width: 100%; /* Fixed height */
  border-top-left-radius: 15px; /* Border radius */
  border-top-right-radius: 15px; /* Border radius */
  transform: scaleX(-1);
  min-height: 83vh;
}
